* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #333333;
  --secoundary-color: #666666;
  --black-color: #000000;
  --white-color:#FAFAFA;

}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}


.navbar-brand {
  font-family: Arial;
  font-size: 30px;
  color: var(--black-color);
}

.header p {
  font-size: 16px;
  color: var(--primary-color);
  background-color: #F8F3EE;
  padding: 20px 0;
}

.nav-item .nav-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color);
  position: relative;

}

.nav-item .nav-link::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #faede0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-item {
  margin-right: 10px;
}

.navbar-nav {
  gap: 20px;
}

.bar-icon {
  color: var(--primary-color);
  padding: 5px;
  font-size: 25px;
}

.navbar-toggler {
  background-color: #F8F3EE;
  padding: 5px 10px;
  border-radius: 5px;
}


.navbar-toggler:focus {
  border: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}



.personalization,
.comment {
  padding: 30px 0;
}

.personalization .title p {
  font-size: 14px;

}

.personalization .title .desc,
.creation-personalization .title p {
  color: var(--secoundary-color);
  font-size: 14px;

}

.trier-text {
  margin-top: 25px;
  color: var(--primary-color);
}

.card {
  border: none;
}

.card .img-section {
  width: 100%;
  height: 360px;
  background-color: var(--white-color);

}

.card .img-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.card h5 {
  font-size: 20px;
  padding-bottom: 10px;

}

.card .card-text {
  color: var(--secoundary-color);
  font-size: 16px;
}

.card .card-sallary {
  color: var(--primary-color);
  font-size: 18px;
  margin-bottom: 5px;
}

.comment .row,
.comment-personal .row {
  padding: 40px 0;
}

.comment .comment-content {
  background-color: var(--white-color);
  padding: 20px 0;
}

.comment .title p {
  font-family: "Abel", sans-serif;
  font-size: 26px;
  color: var(--black-color);

}
.comment .card-title{
  background-color: var(--black-color);
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  font-size: 18px; 
  font-weight: bold; 
  margin: 0 auto 7px; 
  line-height: 1; 
  text-align: center;
  padding: 0; 
 
}
.comment .card .card-text {
  color: var(--primary-color);
  font-weight: 400px;
}

.comment .card {
  background-color: var(--white-color);
}

.comment-personal {
  padding-top: 30px;
}

.comment-personal h3,
.creation-personalization h3 {
  font-family: Arial;
  font-size: 32px;


}

.comment-personal .comment-questions {
  font-family: Arial;
  font-size: 20px;
  color: var(--black-color);
  background-color:var(--white-color);
  padding: 15px 25px;
  margin: 15px 0;


}

.creation-personalization {
  padding-bottom: 30px;
}

.creation-img-container {
  width: 100%;
  height: 300px;
  background-color: var(--white-color)

}

.creation-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.votr-instagram {
  font-size: 18px;
  color: var(--black-color);
  padding: 5px 0 15px 0;
  position: relative;
  display: inline-block;
  border-bottom: 3px solid var(--black-color);
}

.footer {
  margin: 10px 0 30px;
  padding: 30px 0;
}

.footer .container {
  background-color: var(--white-color);
  
}

.footer .title p {
  font-family: Arial;
  font-size: 18px;
  color: var(--primary-color);
  padding: 30px 0;
  max-width: 500px;
}
.footer .row{
  background-color: #F8F3EE;
  padding: 20px 0;
}
.footer .card-content{
  margin-bottom: 20px;
}
.footer .card-content p{
  font-size: 14px;
}







@media (max-width: 768px) {
  .header p {
    font-size: 14px;

  }

  .navbar-nav {
    gap: 8px;
  }

  .card {
    margin-bottom: 30px;
  }

  .personalization .card {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

  }

  .comment-personal .row {
    padding: 20px 0;
  }

  .comment-personal h3,
  .creation-personalization h3 {
    font-size: 26px;
  }

  .comment-personal .comment-questions {
    font-size: 16px;

  }

  .creation-img-container {
    margin-bottom: 25px;
  }

  .footer .title p {

    font-size: 16px;
    padding: 0 5px;
  }
  .footer .card-content{
    border-bottom: 2px solid white;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .personalization .title .desc,
  .creation-personalization .title p {
    font-size: 16px;
  }

  .creation-img-container {
    margin-bottom: 25px;
  }

  .card {
    margin-bottom: 25px;
  }
  .footer .card-content{
    border-bottom: 2px solid white;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {}